body{
	background: #71c6ae;
	margin: 0;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	width: 100vw;
}

.container{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
	width : 100vw;
}

.header{
	position: fixed;
	font-weight: bold;

	width: 100vw;
	height: 10vh;
	background: #ffffff;
}

.searchbg{
	width: 100vw;
	height:450px;
	background: #ffffff;

	/*padding-left: 15px;
	padding-right: 20px;*/
}

.viewlist{
	width: 100vw;

	background: #a1968d;

	display: flex;
	flex-wrap: left;
	justify-content: center;
	flex-direction: column;

}



.searchbox{
	height: 40px;
	width: 500px;
	background: #f2e8e8;
	margin-top: 2px;

	align-self: center;
}

.itemlist{
	margin: 25px;

	flex-wrap: wrap;

	justify-content: space-around;
	align-items: center;
	display: flex;
}
.block{
	/*display: flex;
	flex-wrap: wrap;*/
	height:35vh;
	width:20vw;
	/*	background-color:blue;*/


}

.searchbtn{
	color: #ef4456;
}

.searchtext{
	border: transparent;
	height: 35px;
	width: 100px;
	background: none;
	text-align: center;
}



.footer{
	width: 100vw;
	height: 15vh;
	background: #2e2d2c;

}